.card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
     background: white;
     box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3 ease, box-shadow 0.3s ease;
     flex: 0 1 23%;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.para{
  font-size: 2rem;
  color: #555;
  max-width: 60rem;
  margin-bottom: 2.5rem;
}


.stepContainer{
  width:max-content;
  padding: 1rem;
  border-radius: 50%;
}
.stepsCard{
  display: flex;
  align-items: center;
  gap:0;
}

.stepsCard h2{
  margin: 0%;
}


@media (max-width: 1024px) {
  .card {
    flex: 0 1 45%; 
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 70%;  
  }
}

@media (max-width: 540px) {
  .card {
    flex: 0 1 100%; 
  }
}

