/* .container{
    margin: 5% 10%;

}
.topCardsContainer{
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
}

 .dashboardLayout{
    margin: 5% ;
}  */

body{
  background-color: rgb(242, 242, 243);
}