.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
body{
  background-color: rgb(242, 242, 243);
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 2rem;
}

.heroSection h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.heroSection p  {
  font-size: 2rem;
  color: #555;
  max-width: 60rem;
  margin-bottom: 2.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
/*-------------------------------------------------------------------------------------------*/
.featuresSection , .serviceSection, .stepsToWorkSection{
  width: 70%;
  margin: 10rem auto;
  
}
.featuresSection h2 , .readyToStartSection h3{
  text-align: center;
  font-size: 3.5rem;

}

.cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 2rem; 
}

.para{
  font-size: 2rem;
  color: #555;
  max-width: 60rem;
  margin-bottom: 2.5rem;
}
/*-------------------------------------------------------------------------------------------*/
.services{
  display: flex;
  justify-content: start;
  gap: 5rem;
}
.servicesData{
  width: 50%;
}
.servicesCard , .readyToStartSection{
     background: white;
     border-radius: 1rem;
     border: 1px solid #dfdfdf;
     width: 50%;
}

.stepsToWorkSection{
  text-align: center;
}

.readyToStartSection{
    margin: 5rem auto;
    width: 70%;
    padding: 2rem;
    text-align: center;
}

.readyToStartSection p{
   font-size: 2rem;
   color: #555;
}

@media (max-width:768px) {
  .services{
    flex-direction: column;
  }
  .servicesData, .servicesCard{
  width: 100%;
  }
  .buttons{
    flex-direction:column-reverse;
  }

}