.navbarContainer{
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.1);
    left: 0%;
    right: 0%;
    top: 0%;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}


.navBrandLink{
    display: flex;
    text-decoration: none;
}

.navbarButtons{
    display: flex;
    gap: 1rem;
}

.button{
        font-weight: 20rem;
}

@media (max-width:540px) {
   .navbarButtons Button{
    font-size: 14;
   } 
}