.navbarContainer{
    background-color: rgb(255, 255, 255);   

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.navBrandLink{
    display: flex;
    text-decoration: none;
}

.navbarButtons{
    display: flex;
    gap: 1rem;
}

.button{
        font-weight: 20rem;
}

@media (max-width:540px) {
   .navbarButtons Button{
    font-size: 14;
   } 
}